server:
  port: 8080
eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      default-zone: http://localhost:8761/eureka
  instance:
    hostname: localhost

spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: auth-serviceV2
          uri: lb://auth-serviceV2
          predicates:
            - Path=/user/**
          filters:
            - AuthFilter
        - id: manage-users
          uri: lb://manage-users
          predicates:
            - Path=/info/**
